body {
    background-color:beige;
}

.box {
    width:150px;
    height:150px;
    background-color:black;
    margin:auto;
    margin-bottom: 10px;
}
.box2 {
    opacity: 0.6;
}

.box3 {
    opacity: 0.4;
}

.box4 {
    opacity:0.2;
}